:root{
     
}

.section-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 90px 80px;
}
.s-1-left h3{
font-family: "Montserrat", sans-serif;
font-size: 60px;
padding-right: 40px;
margin: 0px;
font-weight: 600;
}
.s-1-left p{
    font-family: "Poppins", sans-serif;
font-size: 20px;
padding-right: 40px;
font-weight: 400;
}
.s-1-right .img-box img{
    width: 100%;
}

.s-1-left button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18;
    background-color: aqua;
    color: white;
    border: 1px solid aqua;
    padding: 12px 25px;
    border-radius: 4px;
}